<footer>
    <div class="footer-wrap">
        <div class="container ">
            <div class="address d-md-flex justify-content-between p-3">

                <div class="logo add">
                    <a href="#"><img class="logo pb-3" src="../assets/images/logo.png"></a>
                    <div class="summary">
                        <p>Keep away from people who try to belittle your ambitions Small people always do that but the really great Friendly.</p>
                    </div>
                    <div class="address ">
                        <span class="d-table-cell align-middle"><i class="fas fa-mobile-alt"></i></span>
                        <p class="d-table-cell align-middle bottom0">
                            +01 - 123 - 4567 <a class="d-block" href="mailto:web@support.com">web@support.com</a>
                        </p>
                    </div>
                    <div class="social-icon wow fadeInUp">
                        <a href="#">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>

                        <a href="#">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                @*<div class="latest-news add">
                    <div class="news justify-content-between">
                        <h3>Latest News</h3>
                        <ul>
                            <li>
                                <a href="#">Aenean tristique justo et... </a>

                            </li>
                            <span class="date">15 March 2019</span>
                            <hr>
                            <li>
                                <a href="#">Aenean tristique justo et... </a>
                            </li>
                            <span class="date">15 March 2019</span>
                            <hr>
                            <li>
                                <a href="#">Aenean tristique justo et... </a>
                            </li>
                            <span class="date">15 March 2019</span>
                        </ul>
                    </div>
                </div>*@
                <div class="navigation add">
                    <h3>Navigation</h3>
                    <div class="latest-link">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Project</a></li>
                        </ul>
                    </div>
                </div>
                <div class="bussiness add">
                    <div class="hour">
                        <h3>Bussiness Hours</h3>
                        <p>Our support available to help you 24 hours a day, seven days week</p>
                    </div>
                    <div class="time">
                        <li>
                            <span>Monday-Saturday:</span>
                            <span>8.00-18.00</span>
                        </li>
                        <li>
                            <span>Friday:</span>
                            <span>09:00-21:00</span>
                        </li>
                        <li>
                            <span> Sunday:</span>
                            <span>09:00-20:00</span>
                        </li>
                        <li>
                            <span>Calendar Events:</span>
                            <span>24-Hour Shift</span>
                        </li>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>