html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    color: #333;
    /*line-height: 1.7rem;*/
    font-weight: 400;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-family: 'Frank Ruhl Libre';
}
.sliderone{
    background-image:url(src\assets\images\hp1-slider-1.jpg);
}
.slidertwo{
    background-image: url(src\assets\images\hp1-slider-2.jpg);
}
img {
    max-width: 100%;
}

a img {
    max-height: 100px;
}

.block {
    padding: 4rem;
}

#banner .slider-img {
    /*height: 100vh;*/
    height: calc(100vh - 80px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#banner .slick-dots li.slick-active button:before
{
    opacity: .75;
    color: white;
}

#banner .slick-dots li button:before
{
    font-size: 19px;
    color: white;
}
#banner .slick-dots {
    position: absolute;
    bottom: 10px;
}


header li.nav-item {
    padding-right: 0rem;
}

.section-heading {
    padding-bottom: 3rem;
    text-transform: uppercase;
}
/*====== portfolio ================*/
#portfolio .port {
    margin: 1rem;
    /*transform: translateY(0px);*/
}

#portfolio .gallery .port .img-text {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    background: #00000085;
    transition: all 0.3s ease-out 0s;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #portfolio .gallery .port .img-text:hover {
        opacity: 1;
    }


#portfolio .port {
    overflow: hidden !important;
    position: relative;
}

    #portfolio .port:hover img {
        transform: scale(1.1);
        transition: all .5s ease-in-out;
    }

#portfolio .img-text a {
    color: lightblue;
    font-size: 1.2rem;
    font-weight: 500;
}

    #portfolio .img-text a:hover {
        text-decoration: none;
    }

/******** Contact us ============*/
#contact-form .social-media li.list {
    list-style: none;
    padding: 0.7rem;
}

#contact-form .contactdata {
    margin-left: 2rem;
}

#contact-form .social-media i.fa {
    color: black;
}

#contact-form .btn-info {
    color: #fff;
    background-color: #053d52;
    border-color: #053d52;
}

/*=================*/
header nav.navbar {
    position: initial;
}

header nav ul .navbar-nav {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

header nav ul li.nav-item {
    margin-right: 1rem;
    list-style: none;
}






#navbarToggler .nav-link {
    display: block;
}

header nav ul li a {
    color: #000000fa;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    background-color: transparent;
}
/*=========== project ===============*/
#TabStructure .pbox {
    width: 33%;
    box-shadow: 0 20px 25px 0 rgba(0,0,0,.08);
}

#TabStructure .p-name {
    padding: 1rem;
}

#TabStructure .p-image {
    overflow: hidden !important;
}

    #TabStructure .p-image:hover img {
        transform: scale(1.1);
        transition: all .5s ease-in-out;
    }
#TabStructure .nav-item .nav-link{
    color: black;
    font-size: 1.2rem;
}
/*========== Footer ==============*/
.footer-wrap {
    background: #053d52;
}

footer .add {
    width: 35%;
    color: white;
}
footer a.d-block {
    color: white;
}
footer i.fa {
    color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
}
footer .latest-link a {
    color: white;
    font-size: 1.2rem;
}
/*============= about ==========*/
section#partner {
    background: #f6f7f8;
}

#partner .partner-box {
    position: relative;
    margin-right: 1rem;
}

#partner .slick-prev:before, #partner .slick-next:before {
    color: white;
}

#partner .slick-prev {
    left: -70px;
    height: 2rem;
    width: 3rem;
    border: 1px solid;
    color: white;
    border-radius: 2rem;
    background: #053d52;
}

#partner .slick-next {
    right: -60px;
    height: 2rem;
    width: 3rem;
    border: 1px solid;
    color: black;
    border-radius: 1rem;
    background: #053d52;
}


#partner .p-info {
    position: absolute;
    left: 8px;
    right: 8px;
    top: 0;
    background: white;
    padding: 1rem;
    transform: translateY(19.6rem);
    border-radius: 1rem;
    box-shadow: 0 20px 25px 0 rgba(0,0,0,.08);
}

#partner .p-img img {
    border-radius: 1rem;
}

#partner .p-img {
    overflow: hidden !important;
    border-radius: 1rem;
    position: relative;
}

    #partner .p-img:hover img {
        transform: scale(1.1);
        transition: all .5s ease-in-out;
    }

#partner .partner-box:hover .p-info {
    transform: translateY(16.6rem);
}

/*====================*/

#datacounter {
    background-image: url(/images/counter-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 1rem;
    background-attachment: fixed;
}

#datacounter .Count-year {
    font-size: 5rem;
    text-align: center;
    color: white;
}

#datacounter span.timer {
    font-size: 62px;
    font-weight: 500;
    color: white;
}

/*span.concept:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, #5192e1 0%, #23ced5 51%, #5192e1 100%);
    border: transparent;
}*/

/*===========================*/
#blog .b-box {
    margin-right: 1rem;
}

#blog .card-img-top {
    overflow: hidden !important;
}

    #blog .card-img-top:hover img {
        transform: scale(1.1);
        transition: all .5s ease-in-out;
    }
/*=============== services ===========*/
#Services .icon img {
    max-height: 80px;
    margin:auto;
}

#Services .s-box {
    border: 1px solid lightgray;
    margin-right: 1rem;
    padding: 1rem;
    box-shadow: 0 20px 25px 0 rgba(0,0,0,.08);
}

#Services .s-info {
    padding-top: 1rem;
}
#Services .slick-prev:before, #Services .slick-next:before {
    color: white;
}
#Services .slick-prev {
    left: -70px;
    height: 2rem;
    width: 3rem;
    border: 1px solid;
    color: black;
    border-radius: 2rem;
    background: #053d52;
}

#Services .slick-next {
    right: -60px;
    height: 2rem;
    width: 3rem;
    border: 1px solid;
    color: black;
    border-radius: 1rem;
    background: #053d52;
}

/*===============*/
section#login {
   height: calc(100vh - 80px);
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}
#login:before {
    content: '';
    left: 0;
    right: 0;
    top: 0;
    background: #00000059;
    bottom: 0;

    position: absolute;
}
#login .loginForm{
    height:calc(100vh - 50px);
}
#login .form {
    background: white;
    position: relative;
    padding: 2rem;
  
}
#login .sbtn {
    text-align: center;
    margin-top: 1rem;
}
/*===== media ============*/
@media screen and (max-width:767px) {
    .header-wrap .social-icon {
        display: none;
    }

    footer .add {
        width: 100%;
        margin-top: 1.5rem;
    }

    .block {
        padding: 1rem;
    }

    div#navbarNavDropdown {
        position: absolute;
        top: 71px;
        z-index: 9;
        background: white;
        width: 100%;
        left: 0;
        padding: 1rem;
    }

    #navbarToggler li {
        width: 100%;
    }

    #contact-form .contactdata {
        margin-left: 0rem;
        margin-top: 1.7rem;
    }

        #contact-form .contactdata .subtitle {
            font-size: 1.5rem;
        }

    #TabStructure .pbox {
        width: 100%;
    }

    #partner .slick-prev {
        left: 13rem;
        top: -30px;
    }

    #partner .slick-next {
        right: -17px;
        top: -31px;
    }

    #partner .p-info {
        transform: translateY(21.6rem);
    }

    #partner .partner-box:hover .p-info {
        transform: translateY(18.6rem);
    }

    #blog .b-box {
        margin-right: 0rem;
        margin-bottom: 1rem;
    }
    #Services .slick-prev {
        left: 13rem;
        top: -30px;
    }

    #Services .slick-next {
        right: -17px;
        top: -31px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .header-wrap .social-icon {
        display: none;
    }

    .block {
        padding: 1rem;
    }

    div#navbarNavDropdown {
        position: absolute;
        top: 71px;
        z-index: 9;
        background: white;
        width: 100%;
        left: 0;
        padding: 1rem;
    }

    #partner .slick-prev{
        left: 37rem;
        top: -30px;
    }

    #partner .slick-next {
        right: -17px;
        top: -31px;
    }

    #partner .p-info {
        transform: translateY(15.3rem);
    }

    #partner .partner-box:hover .p-info {
        transform: translateY(12.6rem);
    }

    #Services .slick-prev {
        left: 37rem;
        top: -30px;
    }
     #Services .slick-next {
        right: -17px;
        top: -31px;
    }

}

@media screen and (min-width:992px) and (max-width:1199px) {
    .header-wrap .social-icon {
        display: none;
    }
    header nav ul li.nav-item {
        margin-right: 0rem;
    }
    header li.nav-item {
        padding-right: 0rem;
    }

    #partner .p-info {
        transform: translateY(14rem);
    }

    #partner .partner-box:hover .p-info {
        transform: translateY(11rem);
    }
}

@media screen and (min-width:1200px) and (max-width:1281px) {
    .header-wrap .social-icon {
        display: none;
    }
}
